{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "~": "./src"
        }
      },
      "@babel/plugin-syntax-dynamic-import"
    ],
    "transform-inline-environment-variables",
    "babel-plugin-styled-components"
  ]
}
